<% layout("/layouts/boilerplate") -%>

<div class="profile-div">
    <div class="user-profile ">
        <h2 class="mb-3">Profile Page</h2>
    <p><b>Username</b> : <%= user.username %></p>
    <p><b>Email</b> : <%= user.email %></p>

    <div>
        <form method="get" action="/api/user/logout">
            <button class="btn btn-primary mt-3">Logout</button>
        </form>
    </div>
    
    </div>

    <div class="2FA-div">
        <h2  class="mb-3">Mobile App Authentication (2FA)</h2>
        <p>Secure your account with TOTP two-factor authentication</p>
    
        <% if (user.OTPEnabled) { %>
            <form method="post" action="/api/user/disable/<%= user._id %>?_method=PUT">
            <button class="btn btn-primary mt-3">Disable 2FA</button>
            </form>
        <% } %>
    
        <% if (!user.OTPEnabled) { %>
            <form method="post" action="/api/user/generateOTP/<%= user._id %>">
                <button class="btn btn-primary mt-3">Setup 2FA</button>
            </form>
            <% } %>
    </div>
</div>
  
